<div class="row">
    <div class=col-3>
        <label class="text-light"for="attackName">Attack</label>
    </div>
    <div class=col-3>
        <label class="text-light"for="attackBonus">Attack bonus</label>
    </div>
    <div class=col-3>
        <label class="text-light"for="attackType">damage type</label>
    </div>           
</div>
<div class="row">
    <div class=col-3>
        <input type="text" name="attackOne" [ngModel]="attackOne" (ngModelChange)="attackOne = $event; updateAttackOne($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackBonusOne" [ngModel]="attackBonusOne" (ngModelChange)="attackBonusOne = $event; updateAttackBonusOne($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackTypeOne" [ngModel]="attackTypeOne" (ngModelChange)="attackTypeOne = $event; updateAttackTypeOne($event)">
    </div>
    
</div>
<div class="row">
    <div class=col-3>
        <input type="text" name="attackTwo" [ngModel]="attackTwo" (ngModelChange)="attackTwo = $event; updateAttackTwo($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackBonusTwo" [ngModel]="attackBonusTwo" (ngModelChange)="attackBonusTwo = $event; updateAttackBonusTwo($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackTypeTwo" [ngModel]="attackTypeTwo" (ngModelChange)="attackTypeTwo = $event; updateAttackTypeTwo($event)">
    </div>
    
</div>
<div class="row">
    <div class=col-3>
        <input type="text" name="attackThree" [ngModel]="attackThree" (ngModelChange)="attackThree = $event; updateAttackThree($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackBonusThree" [ngModel]="attackBonusThree" (ngModelChange)="attackBonusThree = $event; updateAttackBonusThree($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackTypeThree" [ngModel]="attackBonusThree" (ngModelChange)="attackTypeThree = $event; updateAttackTypeThree($event)">
    </div>
    
</div>
<div class="row">
    <div class=col-3>
        <input type="text" name="attackFour" [ngModel]="attackFour" (ngModelChange)="attackFour = $event; updateAttackFour($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackBonusFour" [ngModel]="attackBonusFour" (ngModelChange)="attackBonusFour = $event; updateAttackBonusFour($event)">
    </div>
    <div class=col-3>
        <input type="text" name="attackTypeFour" [ngModel]="attackTypeFour" (ngModelChange)="attackTypeFour = $event; updateAttackTypeFour($event)">
    </div>
    
</div>
<div class="row border border-secondary">
    <div class=col-3>
        <textarea name="attackDescription" rows="5" cols="65" [ngModel]="attackDescription" (ngModelChange)="attackDescription = $event; updateAttackDescription($event)"></textarea> 
        <label class="text-light"for="attackDescription">Attack & spellcasting</label>
    </div>
</div>