<div class="row">
    <div class="col-4">
        <div></div>
        <div class="row">
            <input type="number" name="armorClass">
        </div>
        <div class="row">
            <label class="text-light" for="armorClass">Armor class</label>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="initiative">
            </div>
            <div class="row">
                <label class="text-light" for="initiative">initiative</label>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="speed">
            </div>
            <div class="row">
                <label class="text-light" for="speed">speed</label>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="maxHP">
            </div>
            <div class="row">
                <label class="text-light" for="maxHp">Hit point maximum</label>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="currentHP">
            </div>
            <div class="row">
                <label class="text-light" for="currentHp">Current hit points</label>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="tempHP">
            </div>
            <div class="row">
                <label class="text-light" for="tempHp">Temporary hit point</label>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <input type="number" name="hitDie">
            </div>
            <div class="row">
                <label class="text-light" for="hitDie">Hit die</label>
            </div>
        </div>
        <div class="row">
            <label class="text-light" for="deathSave">Death save</label>
            <p class="text-light">successes</p>
            <input type="radio" name="successes" value="1">
            <input type="radio" name="successes" value="2">
            <input type="radio" name="successes" value="3">
            <label class="text-light" for="deathSave">Death save</label>
            <p class="text-light">failures</p>
            <input type="radio" name="failures" value="1">
            <input type="radio" name="failures" value="2">
            <input type="radio" name="failures" value="3">
        </div>
    </div>
</div>