<div class="row">
    <div class="col-4">
        <input type="number" name="armorClass" [ngModel]="armorClass" (ngModelChange)="armorClass = $event; updateArmorClass($event)">
    </div>
    <div class="col-4">
        <input type="number" name="initiative" [ngModel]="initiative" (ngModelChange)="initiative = $event; updateInitiative($event)">
    </div>
    <div class="col-4">
        <input type="number" name="speed" [ngModel]="speed" (ngModelChange)="speed = $event; updateSpeed($event)">
    </div>
    </div>
<div class="row">
    <div class="col-4">
        <label class="text-light" for="armorClass">Armor class</label>
    </div>
    <div class="col-4">
        <label class="text-light" for="initiative">initiative</label>
    </div>
    <div class="col-4">
        <label class="text-light" for="speed">speed</label>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <input type="number" name="hitPointMaximum" [ngModel]="hitPointMaximum" (ngModelChange)="hitPointMaximum = $event; updateHitPointMaximum($event)">
    </div>
    <div class="col-4">
        <input type="number" name="currentHitPoints" [ngModel]="currentHitPoints" (ngModelChange)="currentHitPoints = $event; updateCurrentHitPoints($event)">
    </div>
    <div class="col-4">
        <input type="number" name="tempHP">
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label class="text-light" for="maxHp">Hit point maximum</label>
    </div>
    <div class="col-4">
        <label class="text-light" for="currentHp">Current hit points</label>
    </div>
    <div class="col-4">
        <label class="text-light" for="tempHp">Temporary hit point</label> 
    </div>
</div>
<div class="row">
        
    <div class="row-6 p-3 border border-secondary">
        <app-attack-panel></app-attack-panel>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label class="text-light" for="hitDie">Hit die</label>
        <input type="text" name="hitDie" [ngModel]="hitDie" (ngModelChange)="hitDie = $event; updateHitDie($event)">
    </div>
    <div class="col-4">
    </div>>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="deathSave">Death save</label>
        <p class="text-light">successes</p>
        <input type="radio" name="successes" value="1">
        <input type="radio" name="successes" value="2">
        <input type="radio" name="successes" value="3">
        <p class="text-light">failures</p>
        <input type="radio" name="failures" value="1">
        <input type="radio" name="failures" value="2">
        <input type="radio" name="failures" value="3">
    </div>
    <div class="border border-secondary p-1">
        
            <app-personality-panel></app-personality-panel>
    </div>
</div>
    
