<div class="skillpanel ">
    <div name="acrobatics">
      <input type="checkbox" name="acrobaticsTick" [ngModel]="acrobaticsTick" (ngModelChange)="acrobaticsTick = $event; updateAcrobaticsTick($event)"> 
      <input type="number" name="acrobaticsBonus" [ngModel]="acrobatics" (ngModelChange)="acrobatics = $event; updateAcrobatics($event)">
      <label class="text-light" for="acrobatics">Acrobatics (dex)</label>
    </div>
    <div name="animal-handling">
        <input type="checkbox" name="animalHandlingTick" [ngModel]="animalHandlingTick" (ngModelChange)="animalHandlingTick = $event; updateAnimalHandlingTick($event)"> 
        <input type="number" name="animalHandlingBonus" [ngModel]="animalHandling" (ngModelChange)="animalHandling = $event; updateAnimalHandling($event)">
        <label class="text-light" for="animal-handling">Animal handling (wis)</label>
      </div>
    <div name="arcana">
        <input type="checkbox" name="arcana"> 
        <input type="number" name="arcanaBonus">
        <label class="text-light" for="arcana">Arcana (int)</label>
    </div>
    <div name="athletics">
        <input type="checkbox" name="athletics"> 
        <input type="number" name="athleticsBonus">
        <label class="text-light" for="athletics">Athletics (str)</label>
      </div>
      <div name="deception">
        <input type="checkbox" name="deception"> 
        <input type="number" name="deceptionBonus">
        <label class="text-light" for="deception">Deception (cha)</label>
      </div>
      <div name="history">
        <input type="checkbox" name="history"> 
        <input type="number" name="historyBonus">
        <label class="text-light" for="history">history (int)</label>
      </div>
      <div name="insight">
        <input type="checkbox" name="insight"> 
        <input type="number" name="insightBonus">
        <label class="text-light" for="insight">Insight (wis)</label>
      </div>
      <div name="intimidation">
        <input type="checkbox" name="intimidation"> 
        <input type="number" name="intimidationBonus">
        <label class="text-light" for="intimidation">Intimidation (cha)</label>
      </div>
      <div name="investigation">
        <input type="checkbox" name="investigation"> 
        <input type="number" name="investigationBonus">
        <label class="text-light" for="investigation">Investigation (int)</label>
      </div>
      <div name="medicine">
        <input type="checkbox" name="medicine"> 
        <input type="number" name="medicineBonus">
        <label class="text-light" for="medicine">Medicine (wis)</label>
      </div>
      <div name="nature">
        <input type="checkbox" name="nature"> 
        <input type="number" name="natureBonus">
        <label class="text-light" for="nature">Nature (int)</label>
      </div>
      <div name="perception">
        <input type="checkbox" name="perception"> 
        <input type="number" name="perceptionBonus">
        <label class="text-light" for="perception">Perception (wis)</label>
      </div>
      <div name="performance">
        <input type="checkbox" name="performance"> 
        <input type="number" name="performanceBonus">
        <label class="text-light" for="performance">Performance (cha)</label>
      </div>
      <div name="persuasion">
        <input type="checkbox" name="persuasion"> 
        <input type="number" name="persuasionBonus">
        <label class="text-light" for="persuasion">Persuasion (cha)</label>
      </div>
      <div name="religion">
        <input type="checkbox" name="religion"> 
        <input type="number" name="religionBonus">
        <label class="text-light" for="religion">Religion (int))</label>
      </div>
      <div name="slight-of-hand">
        <input type="checkbox" name="slight-of-hand"> 
        <input type="number" name="slight-of-handBonus">
        <label class="text-light" for="slight-of-hand">Slight of hand (dex)</label>
      </div>
      <div name="stealth">
        <input type="checkbox" name="stealth"> 
        <input type="number" name="stealthBonus">
        <label class="text-light" for="stealth">Stealth (dex)</label>
      </div>
      <div name="survival">
        <input type="checkbox" name="survival"> 
        <input type="number" name="survivalBonus">
        <label class="text-light" for="survival">Survival (wis)</label>
      </div>
</div>
<app-equipment-panel></app-equipment-panel>