<div class="row">
    <div class="col-6">
        <textarea  name="darkGift" rows="10" cols="100" [ngModel]="darkGift" (ngModelChange)="darkGift = $event; updateDarkGift($event)"></textarea>
    </div>
    <div class="col-6">
        <textarea  name="additionalFeaturesAndTraits" rows="10" cols="100" [ngModel]="additionalFeaturesAndTraits" (ngModelChange)="additionalFeaturesAndTraits = $event; updateAdditionalFeaturesAndTraits($event)"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label class="text-light" for="darkGift">Dark gifts</label>
    </div>
    <div class="col-6">
        <label class="text-light" for="additionalFeaturesAndTraits">Additional features & traits</label>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <textarea  name="characterBackstory" rows="10" cols="100" [ngModel]="characterBackStory" (ngModelChange)="characterBackStory = $event; updateCharacterBackStory($event)"></textarea>
    </div>
    <div class="col-6">
        <textarea  name="alliesAndOrganizations" rows="10" cols="100" [ngModel]="alliesAndOrganizations" (ngModelChange)="alliesAndOrganizations = $event; updateAlliesAndOrganizations($event)"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <label class="text-light" for="characterBackstory">Character backstory</label>
    </div>
    <div class="col-6">
        <label class="text-light" for="alliesAndOrganizations">Allies & organizations</label>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <textarea  name="treasure" rows="10" cols="100" [ngModel]="treasure" (ngModelChange)="treasure = $event; updateTreasure($event)"></textarea > 
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label class="text-light" for="treasure">Treasure</label>
   </div>
   <div class="col-4">
    <img src="../../assets/Olidammara.jpg" alt="Olidammara">
    <label class="text-light" for="organizations">Organization symbol</label>
   </div>
   <div class="col-4">
    <img src="../../assets/Olidammara.jpg" alt="Olidammara">
    <label class="text-light" for="characterImage">Character image</label>
   </div>
</div>