<div class="personality">
    <textarea class="text-light" name="personalityTraits" rows="4" cols="50"></textarea> 
</div>
<label class="text-light"for="personalityTraits">Personality traits</label>
<div class="ideals">
    <textarea class="text-light" name="ideals" rows="4" cols="50"></textarea> 
</div>
<label class="text-light"for="ideals">Ideals</label>
<div class="bonds">
    <textarea class="text-light" name="bonds" rows="4" cols="50"></textarea> 
</div>
<label class="text-light"for="bonds">Bonds</label>
<div class="flaws">
    <textarea class="text-light" name="flaws" rows="4" cols="50"></textarea> 
</div>
<label class="text-light"for="flaws">Flaws</label>