<div class="description-panel container">
    <div class="row">
        <div class=" col-md">
            <label class="text-light"for="class&level">Class & Level</label>
            <input type="text" name="class&level">
        </div>
        <div class=" col-md">
            <label class="text-light"for="background">Background</label>
            <input type="text" name="background">
        </div>
        <div class=" col-md">
            <label class="text-light"for="playername">Player Name</label>
            <input type="text" name="playername">
        </div>
        <div class=" col-md">
            <label class="text-light"for="faction">Faction</label>
            <br>
            <input type="text" name="faction">
        </div>
    </div>
    <br>
    <div class="row">
        <div class=" col-4">
            <label class="text-light"for="race">Race</label>
            <br>
            <input type="text" name="race">
        </div>
        <div class=" col-4">
            <label class="text-light"for="alignment">Alignment</label>
            <br>
            <input type="text" name="alignment">
        </div>
        <div class=" col-4">
            <label class="text-light"for="exp">Experience Points</label>
            <br>
            <input type="number" name="exp">
        </div>
    </div> 
</div>
