<div class="row  p-3">
    <div class="col-3">
        <input type="text" name="spellCastingClass" [ngModel]="spellCastingClass" (ngModelChange)="spellCastingClass = $event; updateSpellCastingClass($event)">
    </div>
    <div class="col-3">
        <input type="text" name="spellCastingAbility" [ngModel]="spellCastingAbility" (ngModelChange)="spellCastingAbility = $event; updateSpellCastingAbility($event)">
    </div>
    <div class="col-3">
        <input type="text" name="Spell save DC" [ngModel]="spellSaveDC" (ngModelChange)="spellSaveDC = $event; updateSpellSaveDC($event)">
    </div>
    <div class="col-3">
        <input type="text" name="spellAttackBonus" [ngModel]="spellAttackBonus" (ngModelChange)="spellAttackBonus = $event; updateSpellAttackBonus($event)">
    </div>
</div>
<div class="row p-3">
    <div class="col-3">
        <label class="text-light" for="spellCastingClass">Spell casting class</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="spellCastingAbility">Spell casting ability</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="Spell save DC">Spell save DC</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="SpellAttackBonus">Spell attack bonus</label>
    </div>
</div>
<div class="row border border-secondary">
    <div class="col-2 p-5">
        <label class="text-light" for="cantrips">0 Cantrips</label>
        <br>
        <input type="text" name="cantrip1" [ngModel]="cantripOne" (ngModelChange)="cantripOne = $event; updateCantripOne($event)">
        <input type="text" name="cantrip2" [ngModel]="cantripTwo" (ngModelChange)="cantripTwo = $event; updateCantripTwo($event)">
        <input type="text" name="cantrip3" [ngModel]="cantripThree" (ngModelChange)="cantripThree = $event; updateCantripThree($event)">
        <input type="text" name="cantrip4" [ngModel]="cantripFour" (ngModelChange)="cantripFour = $event; updateCantripFour($event)">
        <input type="text" name="cantrip5" [ngModel]="cantripFive" (ngModelChange)="cantripFive = $event; updateCantripFive($event)">
        <input type="text" name="cantrip6" [ngModel]="cantripSix" (ngModelChange)="cantripSix = $event; updateCantripSix($event)">
        <input type="text" name="cantrip7" [ngModel]="cantripSeven" (ngModelChange)="cantripSeven = $event; updateCantripSeven($event)">
        <input type="text" name="cantrip8" [ngModel]="cantripEight" (ngModelChange)="cantripEight = $event; updateCantripEight($event)">
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="levelOneSpells">level 1 spells</label>
        <div class="row ">
            <div class="col-6">
                <input type="text" name="levelOneSpellSlots" [ngModel]="l1SpellSlotTotal" (ngModelChange)="l1SpellSlotTotal = $event; updateL1SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelOneSpellExpended" [ngModel]="l1SpellSlotExpended" (ngModelChange)="l1SpellSlotExpended = $event; updateL1SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelOneSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelOneSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="l1spell1" [ngModel]="l1Slot1Tick" (ngModelChange)="l1Slot1Tick = $event; updateL1Slot1Tick($event)">
            <input type="text" name="1spell1" [ngModel]="l1Slot1" (ngModelChange)="l1Slot1 = $event; updateL1Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell2" [ngModel]="l1Slot2Tick" (ngModelChange)="l1Slot2Tick = $event; updateL1Slot2Tick($event)">
            <input type="text" name="1spell2" [ngModel]="l1Slot2" (ngModelChange)="l1Slot2 = $event; updateL1Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell3" [ngModel]="l1Slot3Tick" (ngModelChange)="l1Slot3Tick = $event; updateL1Slot3Tick($event)">
            <input type="text" name="1spell3" [ngModel]="l1Slot3" (ngModelChange)="l1Slot3 = $event; updateL1Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell4" [ngModel]="l1Slot4Tick" (ngModelChange)="l1Slot4Tick = $event; updateL1Slot4Tick($event)">
            <input type="text" name="1spell4" [ngModel]="l1Slot4" (ngModelChange)="l1Slot4 = $event; updateL1Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell5" [ngModel]="l1Slot5Tick" (ngModelChange)="l1Slot5Tick = $event; updateL1Slot5Tick($event)">
            <input type="text" name="1spell5" [ngModel]="l1Slot5" (ngModelChange)="l1Slot5 = $event; updateL1Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell6" [ngModel]="l1Slot6Tick" (ngModelChange)="l1Slot6Tick = $event; updateL1Slot6Tick($event)">
            <input type="text" name="1spell6" [ngModel]="l1Slot6" (ngModelChange)="l1Slot6 = $event; updateL1Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell7" [ngModel]="l1Slot7Tick" (ngModelChange)="l1Slot7Tick = $event; updateL1Slot7Tick($event)">
            <input type="text" name="1spell7" [ngModel]="l1Slot7" (ngModelChange)="l1Slot7 = $event; updateL1Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell8" [ngModel]="l1Slot8Tick" (ngModelChange)="l1Slot8Tick = $event; updateL1Slot8Tick($event)">
            <input type="text" name="1spell8" [ngModel]="l1Slot8" (ngModelChange)="l1Slot8 = $event; updateL1Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell9" [ngModel]="l1Slot9Tick" (ngModelChange)="l1Slot9Tick = $event; updateL1Slot9Tick($event)">
            <input type="text" name="1spell9" [ngModel]="l1Slot9" (ngModelChange)="l1Slot9 = $event; updateL1Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell10" [ngModel]="l1Slot10Tick" (ngModelChange)="l1Slot10Tick = $event; updateL1Slot10Tick($event)">
            <input type="text" name="1spell10" [ngModel]="l1Slot10" (ngModelChange)="l1Slot10 = $event; updateL1Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell11" [ngModel]="l1Slot11Tick" (ngModelChange)="l1Slot11Tick = $event; updateL1Slot11Tick($event)">
            <input type="text" name="1spell11" [ngModel]="l1Slot11" (ngModelChange)="l1Slot11 = $event; updateL1Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="1spell12" [ngModel]="l1Slot12Tick" (ngModelChange)="l1Slot12Tick = $event; updateL1Slot12Tick($event)">
            <input type="text" name="1spell12" [ngModel]="l1Slot12" (ngModelChange)="l1Slot12 = $event; updateL1Slot12($event)">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="levelTwoSpell">level 2 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelTwoSpellSlots"  [ngModel]="l2SpellSlotTotal" (ngModelChange)="l2SpellSlotTotal = $event; updateL2SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelTwoSpellExpended" [ngModel]="l2SpellSlotExpended" (ngModelChange)="l2SpellSlotExpended = $event; updateL2SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelTwoSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelTwoSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="2spell1" [ngModel]="l2Slot1Tick" (ngModelChange)="l2Slot1Tick = $event; updateL2Slot1Tick($event)">
            <input type="text" name="2spell1" [ngModel]="l2Slot1" (ngModelChange)="l2Slot1 = $event; updateL2Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell2" [ngModel]="l2Slot2Tick" (ngModelChange)="l2Slot2Tick = $event; updateL2Slot2Tick($event)">
            <input type="text" name="2spell2" [ngModel]="l2Slot2" (ngModelChange)="l2Slot2 = $event; updateL2Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell3" [ngModel]="l2Slot3Tick" (ngModelChange)="l2Slot3Tick = $event; updateL2Slot3Tick($event)">
            <input type="text" name="2spell3" [ngModel]="l2Slot3" (ngModelChange)="l2Slot3 = $event; updateL2Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell4" [ngModel]="l2Slot4Tick" (ngModelChange)="l2Slot4Tick = $event; updateL2Slot4Tick($event)">
            <input type="text" name="2spell4" [ngModel]="l2Slot4" (ngModelChange)="l2Slot4 = $event; updateL2Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell5" [ngModel]="l2Slot5Tick" (ngModelChange)="l2Slot5Tick = $event; updateL2Slot5Tick($event)">
            <input type="text" name="2spell5" [ngModel]="l2Slot5" (ngModelChange)="l2Slot5 = $event; updateL2Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell6" [ngModel]="l2Slot6Tick" (ngModelChange)="l2Slot6Tick = $event; updateL2Slot6Tick($event)">
            <input type="text" name="2spell6" [ngModel]="l2Slot6" (ngModelChange)="l2Slot6 = $event; updateL2Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell7" [ngModel]="l2Slot7Tick" (ngModelChange)="l2Slot7Tick = $event; updateL2Slot7Tick($event)">
            <input type="text" name="2spell7" [ngModel]="l2Slot7" (ngModelChange)="l2Slot7 = $event; updateL2Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell8" [ngModel]="l2Slot8Tick" (ngModelChange)="l2Slot8Tick = $event; updateL2Slot8Tick($event)">
            <input type="text" name="2spell8" [ngModel]="l2Slot8" (ngModelChange)="l2Slot8 = $event; updateL2Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell9" [ngModel]="l2Slot9Tick" (ngModelChange)="l2Slot9Tick = $event; updateL2Slot9Tick($event)">
            <input type="text" name="2spell9" [ngModel]="l2Slot9" (ngModelChange)="l2Slot9 = $event; updateL2Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell10" [ngModel]="l2Slot10Tick" (ngModelChange)="l2Slot10Tick = $event; updateL2Slot10Tick($event)">
            <input type="text" name="2spell10" [ngModel]="l2Slot10" (ngModelChange)="l2Slot10 = $event; updateL2Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell11" [ngModel]="l2Slot11Tick" (ngModelChange)="l2Slot11Tick = $event; updateL2Slot11Tick($event)">
            <input type="text" name="2spell11" [ngModel]="l2Slot11" (ngModelChange)="l2Slot11 = $event; updateL2Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="2spell12" [ngModel]="l2Slot12Tick" (ngModelChange)="l2Slot12Tick = $event; updateL2Slot12Tick($event)">
            <input type="text" name="2spell12" [ngModel]="l2Slot12" (ngModelChange)="l2Slot12 = $event; updateL2Slot12($event)">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 border border-secondary p-5">
        <label class="text-light" for="levelThreeSpell">level 3 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelThreeSpellSlots" [ngModel]="l3SpellSlotTotal" (ngModelChange)="l3SpellSlotTotal = $event; updateL3SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelThreeSpellExpended" [ngModel]="l3SpellSlotExpended" (ngModelChange)="l3SpellSlotExpended = $event; updateL3SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelThreeSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelThreeSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="3spell1" [ngModel]="l3Slot1Tick" (ngModelChange)="l3Slot1Tick = $event; updateL3Slot1Tick($event)">
            <input type="text" name="3spell1" [ngModel]="l3Slot1" (ngModelChange)="l3Slot1 = $event; updateL3Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell2" [ngModel]="l3Slot2Tick" (ngModelChange)="l3Slot2Tick = $event; updateL3Slot2Tick($event)">
            <input type="text" name="3spell2" [ngModel]="l3Slot2" (ngModelChange)="l3Slot2 = $event; updateL3Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell3" [ngModel]="l3Slot3Tick" (ngModelChange)="l3Slot3Tick = $event; updateL3Slot3Tick($event)">
            <input type="text" name="3spell3" [ngModel]="l3Slot3" (ngModelChange)="l3Slot3 = $event; updateL3Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell4" [ngModel]="l3Slot4Tick" (ngModelChange)="l3Slot4Tick = $event; updateL3Slot4Tick($event)">
            <input type="text" name="3spell4" [ngModel]="l3Slot4" (ngModelChange)="l3Slot4 = $event; updateL3Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell5" [ngModel]="l3Slot5Tick" (ngModelChange)="l3Slot5Tick = $event; updateL3Slot5Tick($event)">
            <input type="text" name="3spell5" [ngModel]="l3Slot5" (ngModelChange)="l3Slot5 = $event; updateL3Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell6" [ngModel]="l3Slot6Tick" (ngModelChange)="l3Slot6Tick = $event; updateL3Slot6Tick($event)">
            <input type="text" name="3spell6" [ngModel]="l3Slot6" (ngModelChange)="l3Slot6 = $event; updateL3Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell7" [ngModel]="l3Slot7Tick" (ngModelChange)="l3Slot7Tick = $event; updateL3Slot7Tick($event)">
            <input type="text" name="3spell7" [ngModel]="l3Slot7" (ngModelChange)="l3Slot7 = $event; updateL3Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell8" [ngModel]="l3Slot8Tick" (ngModelChange)="l3Slot8Tick = $event; updateL3Slot8Tick($event)">
            <input type="text" name="3spell8" [ngModel]="l3Slot8" (ngModelChange)="l3Slot8 = $event; updateL3Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell9" [ngModel]="l3Slot9Tick" (ngModelChange)="l3Slot9Tick = $event; updateL3Slot9Tick($event)">
            <input type="text" name="3spell9" [ngModel]="l3Slot9" (ngModelChange)="l3Slot9 = $event; updateL3Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell10" [ngModel]="l3Slot10Tick" (ngModelChange)="l3Slot10Tick = $event; updateL3Slot10Tick($event)">
            <input type="text" name="3spell10" [ngModel]="l3Slot10" (ngModelChange)="l3Slot10 = $event; updateL3Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell11" [ngModel]="l3Slot11Tick" (ngModelChange)="l3Slot11Tick = $event; updateL3Slot11Tick($event)">
            <input type="text" name="3spell11" [ngModel]="l3Slot11" (ngModelChange)="l3Slot11 = $event; updateL3Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="3spell12" [ngModel]="l3Slot12Tick" (ngModelChange)="l3Slot12Tick = $event; updateL3Slot12Tick($event)">
            <input type="text" name="3spell12" [ngModel]="l3Slot12" (ngModelChange)="l3Slot12 = $event; updateL3Slot12($event)">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="levelFourSpell">level 4 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelFourSpellSlots" [ngModel]="l4SpellSlotTotal" (ngModelChange)="l4SpellSlotTotal = $event; updateL3SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelFourSpellExpended" [ngModel]="l4SpellSlotExpended" (ngModelChange)="l4SpellSlotExpended = $event; updateL4SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelFourSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelFourSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="4spell1" [ngModel]="l4Slot1Tick" (ngModelChange)="l4Slot1Tick = $event; updateL4Slot1Tick($event)">
            <input type="text" name="4spell1" [ngModel]="l4Slot1" (ngModelChange)="l4Slot1 = $event; updateL4Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell2" [ngModel]="l4Slot2Tick" (ngModelChange)="l4Slot2Tick = $event; updateL4Slot2Tick($event)">
            <input type="text" name="4spell2" [ngModel]="l4Slot2" (ngModelChange)="l4Slot2 = $event; updateL4Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell3" [ngModel]="l4Slot3Tick" (ngModelChange)="l4Slot3Tick = $event; updateL4Slot3Tick($event)">
            <input type="text" name="4spell3" [ngModel]="l4Slot3" (ngModelChange)="l4Slot3 = $event; updateL4Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell4" [ngModel]="l4Slot4Tick" (ngModelChange)="l4Slot4Tick = $event; updateL4Slot4Tick($event)">
            <input type="text" name="4spell4" [ngModel]="l4Slot4" (ngModelChange)="l4Slot4 = $event; updateL4Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell5" [ngModel]="l4Slot5Tick" (ngModelChange)="l4Slot5Tick = $event; updateL4Slot5Tick($event)">
            <input type="text" name="4spell5" [ngModel]="l4Slot5" (ngModelChange)="l4Slot5 = $event; updateL4Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell6" [ngModel]="l4Slot6Tick" (ngModelChange)="l4Slot6Tick = $event; updateL4Slot6Tick($event)">
            <input type="text" name="4spell6" [ngModel]="l4Slot6" (ngModelChange)="l4Slot6 = $event; updateL4Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell7" [ngModel]="l4Slot7Tick" (ngModelChange)="l4Slot7Tick = $event; updateL4Slot7Tick($event)">
            <input type="text" name="4spell7" [ngModel]="l4Slot7" (ngModelChange)="l4Slot7 = $event; updateL4Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell8" [ngModel]="l4Slot8Tick" (ngModelChange)="l4Slot8Tick = $event; updateL4Slot8Tick($event)">
            <input type="text" name="4spell8" [ngModel]="l4Slot8" (ngModelChange)="l4Slot8 = $event; updateL4Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell9" [ngModel]="l4Slot9Tick" (ngModelChange)="l4Slot9Tick = $event; updateL4Slot9Tick($event)">
            <input type="text" name="4spell9" [ngModel]="l4Slot9" (ngModelChange)="l4Slot9 = $event; updateL4Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell10" [ngModel]="l4Slot10Tick" (ngModelChange)="l4Slot10Tick = $event; updateL4Slot10Tick($event)">
            <input type="text" name="4spell10" [ngModel]="l4Slot10" (ngModelChange)="l4Slot10 = $event; updateL4Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell11" [ngModel]="l4Slot11Tick" (ngModelChange)="l4Slot11Tick = $event; updateL4Slot11Tick($event)">
            <input type="text" name="4spell11" [ngModel]="l4Slot11" (ngModelChange)="l4Slot11 = $event; updateL4Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="4spell12" [ngModel]="l4Slot12Tick" (ngModelChange)="l4Slot12Tick = $event; updateL4Slot12Tick($event)">
            <input type="text" name="4spell12" [ngModel]="l4Slot12" (ngModelChange)="l4Slot12 = $event; updateL4Slot12($event)">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="levelFiveSpell">level 5 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelFiveSpellSlots" [ngModel]="l5SpellSlotTotal" (ngModelChange)="l5SpellSlotTotal = $event; updateL5SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelFiveSpellExpended" [ngModel]="l5SpellSlotExpended" (ngModelChange)="l5SpellSlotExpended = $event; updateL5SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelFiveSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelFiveSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="5spell1" [ngModel]="l5Slot1Tick" (ngModelChange)="l5Slot1Tick = $event; updateL5Slot1Tick($event)">
            <input type="text" name="5spell1" [ngModel]="l5Slot1" (ngModelChange)="l5Slot1 = $event; updateL5Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell2" [ngModel]="l5Slot2Tick" (ngModelChange)="l5Slot2Tick = $event; updateL5Slot2Tick($event)">
            <input type="text" name="5spell2" [ngModel]="l5Slot2" (ngModelChange)="l5Slot2 = $event; updateL5Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell3" [ngModel]="l5Slot3Tick" (ngModelChange)="l5Slot3Tick = $event; updateL5Slot3Tick($event)">
            <input type="text" name="5spell3" [ngModel]="l5Slot3" (ngModelChange)="l5Slot3 = $event; updateL5Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell4" [ngModel]="l5Slot4Tick" (ngModelChange)="l5Slot4Tick = $event; updateL5Slot4Tick($event)">
            <input type="text" name="5spell4" [ngModel]="l5Slot4" (ngModelChange)="l5Slot4 = $event; updateL5Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell5" [ngModel]="l5Slot5Tick" (ngModelChange)="l5Slot5Tick = $event; updateL5Slot5Tick($event)">
            <input type="text" name="5spell5" [ngModel]="l5Slot5" (ngModelChange)="l5Slot5 = $event; updateL5Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell6" [ngModel]="l5Slot6Tick" (ngModelChange)="l5Slot6Tick = $event; updateL5Slot6Tick($event)">
            <input type="text" name="5spell6" [ngModel]="l5Slot6" (ngModelChange)="l5Slot6 = $event; updateL5Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell7" [ngModel]="l5Slot7Tick" (ngModelChange)="l5Slot7Tick = $event; updateL5Slot7Tick($event)">
            <input type="text" name="5spell7" [ngModel]="l5Slot7" (ngModelChange)="l5Slot7 = $event; updateL5Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell8" [ngModel]="l5Slot8Tick" (ngModelChange)="l5Slot8Tick = $event; updateL5Slot8Tick($event)">
            <input type="text" name="5spell8" [ngModel]="l5Slot8" (ngModelChange)="l5Slot8 = $event; updateL5Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell9" [ngModel]="l5Slot9Tick" (ngModelChange)="l5Slot9Tick = $event; updateL5Slot9Tick($event)">
            <input type="text" name="5spell9" [ngModel]="l5Slot9" (ngModelChange)="l5Slot9 = $event; updateL5Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell10" [ngModel]="l5Slot10Tick" (ngModelChange)="l5Slot10Tick = $event; updateL5Slot10Tick($event)">
            <input type="text" name="5spell10" [ngModel]="l5Slot10" (ngModelChange)="l5Slot10 = $event; updateL5Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell11" [ngModel]="l5Slot11Tick" (ngModelChange)="l5Slot11Tick = $event; updateL5Slot11Tick($event)">
            <input type="text" name="5spell11" [ngModel]="l5Slot11" (ngModelChange)="l5Slot11 = $event; updateL5Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="5spell12" [ngModel]="l5Slot12Tick" (ngModelChange)="l5Slot12Tick = $event; updateL5Slot12Tick($event)">
            <input type="text" name="5spell12" [ngModel]="l5Slot12" (ngModelChange)="l5Slot12 = $event; updateL5Slot12($event)">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 border border-secondary p-5">
        <label class="text-light" for="levelSixSpell">level 6 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelSixSpellSlots" [ngModel]="l6SpellSlotTotal" (ngModelChange)="l6SpellSlotTotal = $event; updateL6SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelSixSpellExpended" [ngModel]="l6SpellSlotExpended" (ngModelChange)="l6SpellSlotExpended = $event; updateL6SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelSixSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelSixSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="6spell1" [ngModel]="l6Slot1Tick" (ngModelChange)="l6Slot1Tick = $event; updateL6Slot1Tick($event)">
            <input type="text" name="6spell1" [ngModel]="l6Slot1" (ngModelChange)="l6Slot1 = $event; updateL6Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell2" [ngModel]="l6Slot2Tick" (ngModelChange)="l6Slot2Tick = $event; updateL6Slot2Tick($event)">
            <input type="text" name="6spell2" [ngModel]="l6Slot2" (ngModelChange)="l6Slot2 = $event; updateL6Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell3" [ngModel]="l6Slot3Tick" (ngModelChange)="l6Slot3Tick = $event; updateL6Slot3Tick($event)">
            <input type="text" name="6spell3" [ngModel]="l6Slot3" (ngModelChange)="l6Slot3 = $event; updateL6Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell4" [ngModel]="l6Slot4Tick" (ngModelChange)="l6Slot4Tick = $event; updateL6Slot4Tick($event)">
            <input type="text" name="6spell4" [ngModel]="l6Slot4" (ngModelChange)="l6Slot4 = $event; updateL6Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell5" [ngModel]="l6Slot5Tick" (ngModelChange)="l6Slot5Tick = $event; updateL6Slot5Tick($event)">
            <input type="text" name="6spell5" [ngModel]="l6Slot5" (ngModelChange)="l6Slot5 = $event; updateL6Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell6" [ngModel]="l6Slot6Tick" (ngModelChange)="l6Slot6Tick = $event; updateL6Slot6Tick($event)">
            <input type="text" name="6spell6" [ngModel]="l6Slot6" (ngModelChange)="l6Slot6 = $event; updateL6Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell7" [ngModel]="l6Slot7Tick" (ngModelChange)="l6Slot7Tick = $event; updateL6Slot7Tick($event)">
            <input type="text" name="6spell7" [ngModel]="l6Slot7" (ngModelChange)="l6Slot7 = $event; updateL6Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell8" [ngModel]="l6Slot8Tick" (ngModelChange)="l6Slot8Tick = $event; updateL6Slot8Tick($event)">
            <input type="text" name="6spell8" [ngModel]="l6Slot8" (ngModelChange)="l6Slot8 = $event; updateL6Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell9" [ngModel]="l6Slot9Tick" (ngModelChange)="l6Slot9Tick = $event; updateL6Slot9Tick($event)">
            <input type="text" name="6spell9" [ngModel]="l6Slot9" (ngModelChange)="l6Slot9 = $event; updateL6Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell10" [ngModel]="l6Slot10Tick" (ngModelChange)="l6Slot10Tick = $event; updateL6Slot10Tick($event)">
            <input type="text" name="6spell10" [ngModel]="l6Slot10" (ngModelChange)="l6Slot10 = $event; updateL6Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell11" [ngModel]="l6Slot11Tick" (ngModelChange)="l6Slot11Tick = $event; updateL6Slot11Tick($event)">
            <input type="text" name="6spell11" [ngModel]="l6Slot11" (ngModelChange)="l6Slot11 = $event; updateL6Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="6spell12" [ngModel]="l6Slot12Tick" (ngModelChange)="l6Slot12Tick = $event; updateL6Slot12Tick($event)">
            <input type="text" name="6spell12" [ngModel]="l6Slot12" (ngModelChange)="l6Slot12 = $event; updateL6Slot12($event)">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="levelSevenSpell">level 7 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelSevenSpellSlots" [ngModel]="l7SpellSlotTotal" (ngModelChange)="l7SpellSlotTotal = $event; updateL7SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelSevenSpellExpended" [ngModel]="l7SpellSlotExpended" (ngModelChange)="l7SpellSlotExpended = $event; updateL7SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelSevenSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelSevenSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="7spell1" [ngModel]="l7Slot1Tick" (ngModelChange)="l7Slot1Tick = $event; updateL7Slot1Tick($event)">
            <input type="text" name="7spell1" [ngModel]="l7Slot1" (ngModelChange)="l7Slot1 = $event; updateL7Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell2" [ngModel]="l7Slot2Tick" (ngModelChange)="l7Slot2Tick = $event; updateL7Slot2Tick($event)">
            <input type="text" name="7spell2" [ngModel]="l7Slot2" (ngModelChange)="l7Slot2 = $event; updateL7Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell3" [ngModel]="l7Slot3Tick" (ngModelChange)="l7Slot3Tick = $event; updateL7Slot3Tick($event)">
            <input type="text" name="7spell3" [ngModel]="l7Slot3" (ngModelChange)="l7Slot3 = $event; updateL7Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell4" [ngModel]="l7Slot4Tick" (ngModelChange)="l7Slot4Tick = $event; updateL7Slot4Tick($event)">
            <input type="text" name="7spell4" [ngModel]="l7Slot4" (ngModelChange)="l7Slot4 = $event; updateL7Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell5" [ngModel]="l7Slot5Tick" (ngModelChange)="l7Slot5Tick = $event; updateL7Slot5Tick($event)">
            <input type="text" name="7spell5" [ngModel]="l7Slot5" (ngModelChange)="l7Slot5 = $event; updateL7Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell6" [ngModel]="l7Slot6Tick" (ngModelChange)="l7Slot6Tick = $event; updateL7Slot6Tick($event)">
            <input type="text" name="7spell6" [ngModel]="l7Slot6" (ngModelChange)="l7Slot6 = $event; updateL7Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell7" [ngModel]="l7Slot7Tick" (ngModelChange)="l7Slot7Tick = $event; updateL7Slot7Tick($event)">
            <input type="text" name="7spell7" [ngModel]="l7Slot7" (ngModelChange)="l7Slot7 = $event; updateL7Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell8" [ngModel]="l7Slot8Tick" (ngModelChange)="l7Slot8Tick = $event; updateL7Slot8Tick($event)">
            <input type="text" name="7spell8" [ngModel]="l7Slot8" (ngModelChange)="l7Slot8 = $event; updateL7Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell9" [ngModel]="l7Slot9Tick" (ngModelChange)="l7Slot9Tick = $event; updateL7Slot9Tick($event)">
            <input type="text" name="7spell9" [ngModel]="l7Slot9" (ngModelChange)="l7Slot9 = $event; updateL7Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell10" [ngModel]="l7Slot10Tick" (ngModelChange)="l7Slot10Tick = $event; updateL7Slot10Tick($event)">
            <input type="text" name="7spell10" [ngModel]="l7Slot10" (ngModelChange)="l7Slot10 = $event; updateL7Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell11" [ngModel]="l7Slot11Tick" (ngModelChange)="l7Slot11Tick = $event; updateL7Slot11Tick($event)">
            <input type="text" name="7spell11" [ngModel]="l7Slot11" (ngModelChange)="l7Slot11 = $event; updateL7Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="7spell12" [ngModel]="l7Slot12Tick" (ngModelChange)="l7Slot12Tick = $event; updateL7Slot12Tick($event)">
            <input type="text" name="7spell12" [ngModel]="l7Slot12" (ngModelChange)="l7Slot12 = $event; updateL7Slot12($event)">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="levelEightSpell">level 8 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelEightSpellSlots" [ngModel]="l8SpellSlotTotal" (ngModelChange)="l8SpellSlotTotal = $event; updateL8SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelEightSpellExpended" [ngModel]="l8SpellSlotExpended" (ngModelChange)="l8SpellSlotExpended = $event; updateL8SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelEightSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelEightSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="8spell1" [ngModel]="l8Slot1Tick" (ngModelChange)="l8Slot1Tick = $event; updateL8Slot1Tick($event)">
            <input type="text" name="8spell1" [ngModel]="l8Slot1" (ngModelChange)="l8Slot1 = $event; updateL8Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell2" [ngModel]="l8Slot2Tick" (ngModelChange)="l8Slot2Tick = $event; updateL8Slot2Tick($event)">
            <input type="text" name="8spell2" [ngModel]="l8Slot2" (ngModelChange)="l8Slot2 = $event; updateL8Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell3" [ngModel]="l8Slot3Tick" (ngModelChange)="l8Slot3Tick = $event; updateL8Slot3Tick($event)">
            <input type="text" name="8spell3" [ngModel]="l8Slot3" (ngModelChange)="l8Slot3 = $event; updateL8Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell4" [ngModel]="l8Slot4Tick" (ngModelChange)="l8Slot4Tick = $event; updateL8Slot4Tick($event)">
            <input type="text" name="8spell4" [ngModel]="l8Slot4" (ngModelChange)="l8Slot4 = $event; updateL8Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell5" [ngModel]="l8Slot5Tick" (ngModelChange)="l8Slot5Tick = $event; updateL8Slot5Tick($event)">
            <input type="text" name="8spell5" [ngModel]="l8Slot5" (ngModelChange)="l8Slot5 = $event; updateL8Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell6" [ngModel]="l8Slot6Tick" (ngModelChange)="l8Slot6Tick = $event; updateL8Slot6Tick($event)">
            <input type="text" name="8spell6" [ngModel]="l8Slot6" (ngModelChange)="l8Slot6 = $event; updateL8Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell7" [ngModel]="l8Slot7Tick" (ngModelChange)="l8Slot7Tick = $event; updateL8Slot7Tick($event)">
            <input type="text" name="8spell7" [ngModel]="l8Slot7" (ngModelChange)="l8Slot7 = $event; updateL8Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell8" [ngModel]="l8Slot8Tick" (ngModelChange)="l8Slot8Tick = $event; updateL8Slot8Tick($event)">
            <input type="text" name="8spell8" [ngModel]="l8Slot8" (ngModelChange)="l8Slot8 = $event; updateL8Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell9" [ngModel]="l8Slot9Tick" (ngModelChange)="l8Slot9Tick = $event; updateL8Slot9Tick($event)">
            <input type="text" name="8spell9" [ngModel]="l8Slot9" (ngModelChange)="l8Slot9 = $event; updateL8Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell10" [ngModel]="l8Slot10Tick" (ngModelChange)="l8Slot10Tick = $event; updateL8Slot10Tick($event)">
            <input type="text" name="8spell10" [ngModel]="l8Slot10" (ngModelChange)="l8Slot10 = $event; updateL8Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell11" [ngModel]="l8Slot11Tick" (ngModelChange)="l8Slot11Tick = $event; updateL8Slot11Tick($event)">
            <input type="text" name="8spell11" [ngModel]="l8Slot11" (ngModelChange)="l8Slot11 = $event; updateL8Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="8spell12" [ngModel]="l8Slot12Tick" (ngModelChange)="l8Slot12Tick = $event; updateL8Slot12Tick($event)">
            <input type="text" name="8spell12" [ngModel]="l8Slot12" (ngModelChange)="l8Slot12 = $event; updateL8Slot12($event)">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="levelNineSpell">level 9 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelNineSpellSlots" [ngModel]="l9SpellSlotTotal" (ngModelChange)="l9SpellSlotTotal = $event; updateL9SpellSlotTotal($event)">
            </div>
            <div class="col-6">
                <input type="text" name="levelNineSpellExpended" [ngModel]="l9SpellSlotExpended" (ngModelChange)="l9SpellSlotExpended = $event; updateL9SpellSlotExpended($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelNineSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelNineSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="9spell1" [ngModel]="l9Slot1Tick" (ngModelChange)="l9Slot1Tick = $event; updateL9Slot1Tick($event)">
            <input type="text" name="9spell1" [ngModel]="l9Slot1" (ngModelChange)="l9Slot1 = $event; updateL9Slot1($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell2" [ngModel]="l9Slot2Tick" (ngModelChange)="l9Slot2Tick = $event; updateL9Slot2Tick($event)">
            <input type="text" name="9spell2" [ngModel]="l9Slot2" (ngModelChange)="l9Slot2 = $event; updateL9Slot2($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell3" [ngModel]="l9Slot3Tick" (ngModelChange)="l9Slot3Tick = $event; updateL9Slot3Tick($event)">
            <input type="text" name="9spell3" [ngModel]="l9Slot3" (ngModelChange)="l9Slot3 = $event; updateL9Slot3($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell4" [ngModel]="l9Slot4Tick" (ngModelChange)="l9Slot4Tick = $event; updateL9Slot4Tick($event)">
            <input type="text" name="9spell4" [ngModel]="l9Slot4" (ngModelChange)="l9Slot4 = $event; updateL9Slot4($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell5" [ngModel]="l9Slot5Tick" (ngModelChange)="l9Slot5Tick = $event; updateL9Slot5Tick($event)">
            <input type="text" name="9spell5" [ngModel]="l9Slot5" (ngModelChange)="l9Slot5 = $event; updateL9Slot5($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell6" [ngModel]="l9Slot6Tick" (ngModelChange)="l9Slot6Tick = $event; updateL9Slot6Tick($event)">
            <input type="text" name="9spell6" [ngModel]="l9Slot6" (ngModelChange)="l9Slot6 = $event; updateL9Slot6($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell7" [ngModel]="l9Slot7Tick" (ngModelChange)="l9Slot7Tick = $event; updateL9Slot7Tick($event)">
            <input type="text" name="9spell7" [ngModel]="l9Slot7" (ngModelChange)="l9Slot7 = $event; updateL9Slot7($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell8" [ngModel]="l9Slot8Tick" (ngModelChange)="l9Slot8Tick = $event; updateL9Slot8Tick($event)">
            <input type="text" name="9spell8" [ngModel]="l9Slot8" (ngModelChange)="l9Slot8 = $event; updateL9Slot8($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell9" [ngModel]="l9Slot9Tick" (ngModelChange)="l9Slot9Tick = $event; updateL9Slot9Tick($event)">
            <input type="text" name="9spell9" [ngModel]="l9Slot9" (ngModelChange)="l9Slot9 = $event; updateL9Slot9($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell10" [ngModel]="l9Slot10Tick" (ngModelChange)="l9Slot10Tick = $event; updateL9Slot10Tick($event)">
            <input type="text" name="9spell10" [ngModel]="l9Slot10" (ngModelChange)="l9Slot10 = $event; updateL9Slot10($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell11" [ngModel]="l9Slot11Tick" (ngModelChange)="l9Slot11Tick = $event; updateL9Slot11Tick($event)">
            <input type="text" name="9spell11" [ngModel]="l9Slot11" (ngModelChange)="l9Slot11 = $event; updateL9Slot11($event)">
        </div>
        <div>
            <input type="checkbox" name="9spell12" [ngModel]="l9Slot12Tick" (ngModelChange)="l9Slot12Tick = $event; updateL9Slot12Tick($event)">
            <input type="text" name="9spell12" [ngModel]="l9Slot12" (ngModelChange)="l9Slot12 = $event; updateL9Slot12($event)">
        </div>
    </div>
</div>
<br>
<br>
