<header class="header grid">
  <span class="text col-10">
      Projectdnd  
  </span>
  <div class="col-2 flex flex-wrap align-content-center pt-3 justify-content-end">
    <button
      pButton 
      type="button" 
      style="max-height: 1dvh; margin-right: 1em;"
      label="Log in" 
      class="p-button-secondary"
      (click)="test()">
    </button>
    <button 
      pButton 
      type="button"
      style="max-height: 1dvh; margin-right: 1em;" 
      label="Sign up"  
      (click)="openModal()">
    </button>  
  </div>
</header>
<h1 class="text"> hello World!</h1>

<!-- TO BE REMOVED ONCE PRIMENG ISSUE IS FIXED-->
<h1>sign up</h1>
<div class="text grid">
  <div class="row">
    <div class="col-2 flex">
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="firstName"> 
        <label for="float-input">First name</label>
      </span>
      <span class="p-float-label">
        <input id="float-input" type="text" pInputText [(ngModel)]="lastName"> 
        <label for="float-input">Last name</label>
      </span>
    </div>
    <div class="row">
      <div class="col-2 flex">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="userName"> 
          <label for="float-input">User Name</label>
        </span>
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="email"> 
          <label for="float-input">Email</label>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 flex">
        <input type="password" pPassword [(ngModel)]="passWord"/>
      </div>
    </div>
  </div>
  <button 
  pButton 
  type="button"
  style="max-height: 1dvh; margin-right: 1em;" 
  label="Sign up"  
  (click)="createUser()">
</button>
</div>
<!-- TO BE REMOVED ONCE PRIMENG ISSUE IS FIXED-->

<div class="modal-container">
  <div #modal></div>
</div>




       