<header class="header grid">
  <span class="text col-10">
      Projectdnd  
  </span>
  <div class="col-2 flex flex-wrap align-content-center pt-3 justify-content-end">
    <button
      pButton 
      type="button" 
      style="max-height: 1dvh; margin-right: 1em;"
      label="Log in" 
      class="p-button-secondary"
      (click)="test()">
    </button>
    <button 
      pButton 
      type="button"
      style="max-height: 1dvh; margin-right: 1em;" 
      label="Sign up"  
      (click)="openModal()">
    </button>  
  </div>
</header>
<h1 class="text"> hello World!</h1>

