<cdk-virtual-scroll-viewport [itemSize]="275" style="height: 850px">
<button label="Get Character Sheet" (click)="loadCharacterSheet()">Load character sheet</button>
<button label="Create Character Sheet" (click)="createCharacterSheet()">Create/save character sheet</button>
<div class="bg-dark character-sheet container">
    <app-descriptionPanel></app-descriptionPanel>
    <app-statPanel></app-statPanel>
    <app-skillSavePanel></app-skillSavePanel>
    <app-skillPanel></app-skillPanel>
</div>
</cdk-virtual-scroll-viewport>