<cdk-virtual-scroll-viewport [itemSize]="275" style="height: 850px">
<button label="Get Character Sheet" (click)="loadCharacterSheet()">Load character sheet</button>
<button label="Create Character Sheet" (click)="createCharacterSheet()">Create/save character sheet</button>
<div class="bg-dark character-sheet container">
    <div class="row">
        <div class="col-12">
            <app-descriptionPanel></app-descriptionPanel>
        </div>
    </div>
    <div class="row">
        <div class="row-4 px-2">
            <app-statPanel></app-statPanel>
        </div>
        <div class="row-4 px-2">
            <app-skillSavePanel></app-skillSavePanel>
        </div>
        <div class="row-4 px-3">
            <app-skillPanel></app-skillPanel>
        </div>
        <div class="row-4 pl-3">
            <app-combat-panel></app-combat-panel>
        </div>
        <div class="row-4">
            <app-personality-panel></app-personality-panel>
        </div>
        
    </div>
</div>
</cdk-virtual-scroll-viewport>