<div class="row  p-3">
    <div class="col-3">
        <input type="text" name="spellCastingClass">
    </div>
    <div class="col-3">
        <input type="text" name="spellCastingAbility">
    </div>
    <div class="col-3">
        <input type="text" name="Spell save DC">
    </div>
    <div class="col-3">
        <input type="text" name="SpellAttackBonus">
    </div>
</div>
<div class="row p-3">
    <div class="col-3">
        <label class="text-light" for="spellCastingClass">Spell casting class</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="spellCastingAbility">Spell casting ability</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="Spell save DC">Spell save DC</label>
    </div>
    <div class="col-3">
        <label class="text-light" for="SpellAttackBonus">Spell attack bonus</label>
    </div>
</div>
<div class="row border border-secondary">
    <div class="col-2 p-5">
        <label class="text-light" for="cantrips">0 Cantrips</label>
        <br>
        <input type="text" name="cantrip1">
        <input type="text" name="cantrip2">
        <input type="text" name="cantrip3">
        <input type="text" name="cantrip4">
        <input type="text" name="cantrip5">
        <input type="text" name="cantrip6">
        <input type="text" name="cantrip7">
        <input type="text" name="cantrip8">
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="cantrips">level 1 spells</label>
        <div class="row ">
            <div class="col-6">
                <input type="text" name="levelOneSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelOneSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelOneSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelOneSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="1spell1">
            <input type="text" name="1spell1">
        </div>
        <div>
            <input type="checkbox" name="1spell2">
            <input type="text" name="1spell2">
        </div>
        <div>
            <input type="checkbox" name="1spell3">
            <input type="text" name="1spell3">
        </div>
        <div>
            <input type="checkbox" name="1spell4">
            <input type="text" name="1spell4">
        </div>
        <div>
            <input type="checkbox" name="1spell5">
            <input type="text" name="1spell5">
        </div>
        <div>
            <input type="checkbox" name="1spell6">
            <input type="text" name="1spell6">
        </div>
        <div>
            <input type="checkbox" name="1spell7">
            <input type="text" name="1spell7">
        </div>
        <div>
            <input type="checkbox" name="1spell8">
            <input type="text" name="1spell8">
        </div>
        <div>
            <input type="checkbox" name="1spell9">
            <input type="text" name="1spell9">
        </div>
        <div>
            <input type="checkbox" name="1spell10">
            <input type="text" name="1spell10">
        </div>
        <div>
            <input type="checkbox" name="1spell11">
            <input type="text" name="1spell11">
        </div>
        <div>
            <input type="checkbox" name="1spell12">
            <input type="text" name="1spell12">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="cantrips">level 2 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelTwoSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelTwoSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelTwoSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelTwoSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="2spell1">
            <input type="text" name="2spell1">
        </div>
        <div>
            <input type="checkbox" name="2spell2">
            <input type="text" name="2spell2">
        </div>
        <div>
            <input type="checkbox" name="2spell3">
            <input type="text" name="2spell3">
        </div>
        <div>
            <input type="checkbox" name="2spell4">
            <input type="text" name="2spell4">
        </div>
        <div>
            <input type="checkbox" name="2spell5">
            <input type="text" name="2spell5">
        </div>
        <div>
            <input type="checkbox" name="2spell6">
            <input type="text" name="2spell6">
        </div>
        <div>
            <input type="checkbox" name="2spell7">
            <input type="text" name="2spell7">
        </div>
        <div>
            <input type="checkbox" name="2spell8">
            <input type="text" name="2spell8">
        </div>
        <div>
            <input type="checkbox" name="2spell9">
            <input type="text" name="2spell9">
        </div>
        <div>
            <input type="checkbox" name="2spell10">
            <input type="text" name="2spell10">
        </div>
        <div>
            <input type="checkbox" name="2spell11">
            <input type="text" name="2spell11">
        </div>
        <div>
            <input type="checkbox" name="2spell12">
            <input type="text" name="2spell12">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 border border-secondary p-5">
        <label class="text-light" for="cantrips">level 3 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelThreeSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelThreeSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelThreeSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelThreeSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="3spell1">
            <input type="text" name="3spell1">
        </div>
        <div>
            <input type="checkbox" name="3spell2">
            <input type="text" name="3spell2">
        </div>
        <div>
            <input type="checkbox" name="3spell3">
            <input type="text" name="3spell3">
        </div>
        <div>
            <input type="checkbox" name="3spell4">
            <input type="text" name="3spell4">
        </div>
        <div>
            <input type="checkbox" name="3spell5">
            <input type="text" name="3spell5">
        </div>
        <div>
            <input type="checkbox" name="3spell6">
            <input type="text" name="3spell6">
        </div>
        <div>
            <input type="checkbox" name="3spell7">
            <input type="text" name="3spell7">
        </div>
        <div>
            <input type="checkbox" name="3spell8">
            <input type="text" name="3spell8">
        </div>
        <div>
            <input type="checkbox" name="3spell9">
            <input type="text" name="3spell9">
        </div>
        <div>
            <input type="checkbox" name="3spell10">
            <input type="text" name="3spell10">
        </div>
        <div>
            <input type="checkbox" name="3spell11">
            <input type="text" name="3spell11">
        </div>
        <div>
            <input type="checkbox" name="3spell12">
            <input type="text" name="3spell12">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="cantrips">level 4 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelFourSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelFourSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelFourSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelFourSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="4spell1">
            <input type="text" name="4spell1">
        </div>
        <div>
            <input type="checkbox" name="4spell2">
            <input type="text" name="4spell2">
        </div>
        <div>
            <input type="checkbox" name="4spell3">
            <input type="text" name="4spell3">
        </div>
        <div>
            <input type="checkbox" name="4spell4">
            <input type="text" name="4spell4">
        </div>
        <div>
            <input type="checkbox" name="4spell5">
            <input type="text" name="4spell5">
        </div>
        <div>
            <input type="checkbox" name="4spell6">
            <input type="text" name="4spell6">
        </div>
        <div>
            <input type="checkbox" name="4spell7">
            <input type="text" name="4spell7">
        </div>
        <div>
            <input type="checkbox" name="4spell8">
            <input type="text" name="4spell8">
        </div>
        <div>
            <input type="checkbox" name="4spell9">
            <input type="text" name="4spell9">
        </div>
        <div>
            <input type="checkbox" name="4spell10">
            <input type="text" name="4spell10">
        </div>
        <div>
            <input type="checkbox" name="4spell11">
            <input type="text" name="4spell11">
        </div>
        <div>
            <input type="checkbox" name="4spell12">
            <input type="text" name="4spell12">
        </div>
    </div>
    <div class="col-4 border border-secondary">
        <label class="text-light" for="cantrips">level 5 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelFiveSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelFiveSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelFiveSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelFiveSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="5spell1">
            <input type="text" name="5spell1">
        </div>
        <div>
            <input type="checkbox" name="5spell2">
            <input type="text" name="5spell2">
        </div>
        <div>
            <input type="checkbox" name="5spell3">
            <input type="text" name="5spell3">
        </div>
        <div>
            <input type="checkbox" name="5spell4">
            <input type="text" name="5spell4">
        </div>
        <div>
            <input type="checkbox" name="5spell5">
            <input type="text" name="5spell5">
        </div>
        <div>
            <input type="checkbox" name="5spell6">
            <input type="text" name="5spell6">
        </div>
        <div>
            <input type="checkbox" name="5spell7">
            <input type="text" name="5spell7">
        </div>
        <div>
            <input type="checkbox" name="5spell8">
            <input type="text" name="5spell8">
        </div>
        <div>
            <input type="checkbox" name="5spell9">
            <input type="text" name="5spell9">
        </div>
        <div>
            <input type="checkbox" name="5spell10">
            <input type="text" name="5spell10">
        </div>
        <div>
            <input type="checkbox" name="5spell11">
            <input type="text" name="5spell11">
        </div>
        <div>
            <input type="checkbox" name="5spell12">
            <input type="text" name="5spell12">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3 border border-secondary p-5">
        <label class="text-light" for="cantrips">level 6 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelSixSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelSixSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelSixSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelSixSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="6spell1">
            <input type="text" name="6spell1">
        </div>
        <div>
            <input type="checkbox" name="6spell2">
            <input type="text" name="6spell2">
        </div>
        <div>
            <input type="checkbox" name="6spell3">
            <input type="text" name="6spell3">
        </div>
        <div>
            <input type="checkbox" name="6spell4">
            <input type="text" name="6spell4">
        </div>
        <div>
            <input type="checkbox" name="6spell5">
            <input type="text" name="6spell5">
        </div>
        <div>
            <input type="checkbox" name="6spell6">
            <input type="text" name="6spell6">
        </div>
        <div>
            <input type="checkbox" name="6spell7">
            <input type="text" name="6spell7">
        </div>
        <div>
            <input type="checkbox" name="6spell8">
            <input type="text" name="6spell8">
        </div>
        <div>
            <input type="checkbox" name="6spell9">
            <input type="text" name="6spell9">
        </div>
        <div>
            <input type="checkbox" name="6spell10">
            <input type="text" name="6spell10">
        </div>
        <div>
            <input type="checkbox" name="6spell11">
            <input type="text" name="6spell11">
        </div>
        <div>
            <input type="checkbox" name="6spell12">
            <input type="text" name="6spell12">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="cantrips">level 7 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelSevenSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelSevenSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelSevenSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelSevenSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="7spell1">
            <input type="text" name="7spell1">
        </div>
        <div>
            <input type="checkbox" name="7spell2">
            <input type="text" name="7spell2">
        </div>
        <div>
            <input type="checkbox" name="7spell3">
            <input type="text" name="7spell3">
        </div>
        <div>
            <input type="checkbox" name="7spell4">
            <input type="text" name="7spell4">
        </div>
        <div>
            <input type="checkbox" name="7spell5">
            <input type="text" name="7spell5">
        </div>
        <div>
            <input type="checkbox" name="7spell6">
            <input type="text" name="7spell6">
        </div>
        <div>
            <input type="checkbox" name="7spell7">
            <input type="text" name="7spell7">
        </div>
        <div>
            <input type="checkbox" name="7spell8">
            <input type="text" name="7spell8">
        </div>
        <div>
            <input type="checkbox" name="7spell9">
            <input type="text" name="7spell9">
        </div>
        <div>
            <input type="checkbox" name="7spell10">
            <input type="text" name="7spell10">
        </div>
        <div>
            <input type="checkbox" name="7spell11">
            <input type="text" name="7spell11">
        </div>
        <div>
            <input type="checkbox" name="7spell12">
            <input type="text" name="7spell12">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="cantrips">level 8 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelEightSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelEightSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelEightSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelEightSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="8spell1">
            <input type="text" name="8spell1">
        </div>
        <div>
            <input type="checkbox" name="8spell2">
            <input type="text" name="8spell2">
        </div>
        <div>
            <input type="checkbox" name="8spell3">
            <input type="text" name="8spell3">
        </div>
        <div>
            <input type="checkbox" name="8spell4">
            <input type="text" name="8spell4">
        </div>
        <div>
            <input type="checkbox" name="8spell5">
            <input type="text" name="8spell5">
        </div>
        <div>
            <input type="checkbox" name="8spell6">
            <input type="text" name="8spell6">
        </div>
        <div>
            <input type="checkbox" name="8spell7">
            <input type="text" name="8spell7">
        </div>
        <div>
            <input type="checkbox" name="8spell8">
            <input type="text" name="8spell8">
        </div>
        <div>
            <input type="checkbox" name="8spell9">
            <input type="text" name="8spell9">
        </div>
        <div>
            <input type="checkbox" name="8spell10">
            <input type="text" name="8spell10">
        </div>
        <div>
            <input type="checkbox" name="8spell11">
            <input type="text" name="8spell11">
        </div>
        <div>
            <input type="checkbox" name="8spell12">
            <input type="text" name="8spell12">
        </div>
    </div>
    <div class="col-3 border border-secondary">
        <label class="text-light" for="cantrips">level 9 spells</label>
        <div class="row">
            <div class="col-6">
                <input type="text" name="levelNineSpellSlots">
            </div>
            <div class="col-6">
                <input type="text" name="levelNineSpellExpended">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label class="text-light" for="levelNineSpellSlots">Slots total</label>
            </div>
            <div class="col-6">
                <label class="text-light" for="levelNineSpellExpended">Slots expended</label>
            </div>
        </div>
        <div>
            <input type="checkbox" name="9spell1">
            <input type="text" name="9spell1">
        </div>
        <div>
            <input type="checkbox" name="9spell2">
            <input type="text" name="9spell2">
        </div>
        <div>
            <input type="checkbox" name="9spell3">
            <input type="text" name="9spell3">
        </div>
        <div>
            <input type="checkbox" name="9spell4">
            <input type="text" name="9spell4">
        </div>
        <div>
            <input type="checkbox" name="9spell5">
            <input type="text" name="9spell5">
        </div>
        <div>
            <input type="checkbox" name="9spell6">
            <input type="text" name="9spell6">
        </div>
        <div>
            <input type="checkbox" name="9spell7">
            <input type="text" name="9spell7">
        </div>
        <div>
            <input type="checkbox" name="9spell8">
            <input type="text" name="9spell8">
        </div>
        <div>
            <input type="checkbox" name="9spell9">
            <input type="text" name="9spell9">
        </div>
        <div>
            <input type="checkbox" name="9spell10">
            <input type="text" name="9spell10">
        </div>
        <div>
            <input type="checkbox" name="9spell11">
            <input type="text" name="9spell11">
        </div>
        <div>
            <input type="checkbox" name="9spell12">
            <input type="text" name="9spell12">
        </div>
    </div>
</div>
<br>
<br>
