<div class="stat-panel float-left ">
    <div class="row">
        <div class=" col-4 ">
            <label class="text-light" for="str">Strength</label>
            <br>
            <input type="number" name="str" [ngModel]="strength" (ngModelChange)="strength = $event; strModifierCalc($event)">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <!-- []for updating fronmt end () for updating back end-->
            <input type="number" name="str-mod" readonly [ngModel]="strengthModifier">
            <br>
            <br>
            <br>
          
        </div>
    </div>
    <div class="row">
        <div class=" col-4">
            <label class="text-light" for="Dex">Dexterity</label>
            <br>
            <input type="number" name="dex" [ngModel]="dexterity" (ngModelChange)="dexterity = $event; dexModifierCalc($event)">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="dex-mod" readonly [ngModel]="dexterityModifier">
            <br>
            <br>
            <br>
        </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="con">Constitution</label>
            <br>
            <input type="number" name="con" [ngModel]="constitution" (ngModelChange)="constitution = $event; conModifierCalc($event)">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="con-mod" readonly [ngModel]="constitutionModifier">
            <br>
            <br>
            <br>
        </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="int">Intelligence</label>
            <br>
            <input type="number" name="int" [ngModel]="intelligence" (ngModelChange)="intelligence = $event; intModifierCalc($event)">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="int-mod" readonly [ngModel]="intelligenceModifier">
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class=" col-4">
           <label class="text-light" for="wis">Wisdom</label>
           <br>
           <input type="number" name="wis" [ngModel]="wisdom" (ngModelChange)="wisdom = $event; wisModifierCalc($event)">
           <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
           <input type="number" name="wis-mod" readonly [ngModel]="wisdomModifier">
           <br>
            <br>
            <br>
       </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="cha">Charisma</label>
            <br>
            <input type="number" name="cha" [ngModel]="charisma" (ngModelChange)="charisma = $event; chrModifierCalc($event)">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="cha-mod" readonly [ngModel]="charismaModifier">
            <br>
            <br>
            <br>
        </div>
    </div>
</div>>