<div class="stat-panel float-left ">
    <div class="row">
        <div class=" col-4 ">
            <label class="text-light" for="str">Strength</label>
            <br>
            <input type="number" name="str">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="str-mod" readonly>
            <br>
            <br>
            <br>
          
        </div>
    </div>
    <div class="row">
        <div class=" col-4">
            <label class="text-light" for="Dex">Dexterity</label>
            <br>
            <input type="number" name="dex">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="dex-mod" readonly>
            <br>
            <br>
            <br>
        </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="con">Constitution</label>
            <br>
            <input type="number" name="con">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="con-mod" readonly>
            <br>
            <br>
            <br>
        </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="int">Intelligence</label>
            <br>
            <input type="number" name="int">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="int-mod" readonly>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="row">
        <div class=" col-4">
           <label class="text-light" for="wis">Wisdom</label>
           <br>
           <input type="number" name="wis">
           <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
           <input type="number" name="wis-mod" readonly>
           <br>
            <br>
            <br>
       </div>
   </div>
   <div class="row">
        <div class=" col-4">
            <label class="text-light" for="cha">Charisma</label>
            <br>
            <input type="number" name="cha">
            <br>
            <label class="text-light" for="str-mod">modifier</label>
            <br>
            <input type="number" name="cha-mod" readonly>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>>