<div class="skill-save-panel">
    <div class="row">
        <div class="col-4">
            <label class="text-light" for="insp">Inspiration</label>
            <br>
            <input type="number" name="insp">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="text-light" for="prof-bonus">Proficiency Bonus</label>
            <br>
            <input type="number" name="prof-bonus">
        </div>
        
    </div>
    <br>
    <br>
    <br>
    <div class="save-box">
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='str-save'>
            <label class="text-light" for="str-save">Strength</label>
            <br>
            <input type="number" name="str-save">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='dex-save'>
            <label class="text-light" for="dex-save">Dexterity</label>
            <br>
            <input type="number" name="dex-save">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='con-save'>
            <label class="text-light" for="con-save">Constitution</label>
            <br>
            <input type="number" name="cpm-save">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='int-save'>
            <label class="text-light" for="int-save">Intelligence</label>
            <br>
            <input type="number" name="int-save">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='wiz-save'>
            <label class="text-light" for="wiz-save">Wisdom</label>
            <br>
            <input type="number" name="wiz-save">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <input type="checkbox" name='cha-save'>
            <label class="text-light" for="cha-save">Charisma</label>
            <br>
            <input type="number" name="cha-save">
        </div>
    </div>
</div>
</div>